{
  "presets": ["env", "stage-0", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "lodash",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": { "views": "components/views" }
      }
    ]
  ]
}
