node_modules
server
/bookings
pouch__all_dbs__
_replicator
_users
public/font-awesome-4.6.3
public/images/DD*
public/images/reserve
public/build
-C-actions
*.log
log.txt
src/services/creds.js
src/services/remoteCouch.js
config.js
config.json
app/lockit-config.js
public/lockit-config.js
public/bootstrap*
.DS_Store
/_test
/_test2
test.js
/test
/testx

temp*.json
/stedsBooking-darwin-x64
/dist
.serve
.app
*.tgz
/app
/bower_components
