/* scss-lint:disable QualifyingElement Comment SelectorFormat */

div.panel-title {
  .data {
    font-size: 0.9em;
  }
}

.bus-list .panel-contents {
  // min-height: 600px;
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 3fr 20px 2fr;

  .walk-select {
    grid-row: 1;
    grid-column: 1;
  }

  .booked-members {
    grid-row: 2;
    grid-column: 1;
  }

  .others {
    grid-row: 2;
    grid-column: 3;
  }
}

.bus-list {
  .booked-members {
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .others {
    display: grid;
    // grid-template-rows: repeat(18, 1fr);
    grid-template-columns: 1fr 1fr;
    border: red thin solid;
  }

  .others,
  .booked-cars,
  .waiting-list {
    .member {
      margin-bottom: 10px;
    }

    button {
      margin-left: 10px;
    }
  }

  .booked-cars,
  .others,
  .booked-members,
  .waiting-list {
    align-items: start;
    grid-gap: 8px;
    grid-auto-flow: column;

    .seats-available {
      grid-row: 17 / span 2;
      grid-column: 3;
      width: 180px;
      margin-left: 10px;
      margin-right: 10px;
      border: black thin solid;
      border-radius: 5px;
      text-align: center;
    }

    .member {
      color: green;
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      padding: 0;

      // div:first-child {
      //   justify-content: flex-start;
      // }
      //
      // div:last-child {
      //   justify-content: flex-end;
      // }
      //
      .annotation {
        font-size: 0.7em;
      }

      &:hover {
        background-color: #eee;
      }

      input {
        display: inline;
        margin-right: 3px;
      }

      button {
        width: 25px;
        margin-right: 20px;

        // span {
        //   width: 10px;
        // }
      }
    }
  }

  button {
    width: 200px;
  }
}
