.logsTable {
  margin-left: 10px;
  border: #bce8f1 solid thin;

  .logHeader {
    color: #31708f;
    background-color: #d9edf7;
    border-bottom: #bce8f1 solid thin;
  }

  .logRec.outstanding {
    color: navy;
    font-weight: bold;

    .logText {
      font-size: 1.1em;
    }
  }
}

.logHeader span {
  text-align: center;
}

.logData {
  .logAmount {
    text-align: right;
    padding-right: 1em;
  }

  .logBal {
    text-align: right;
    padding-right: 2em;
  }

  &.historic {
    opacity: 0.3;
  }
}

span.logDate {
  padding-left: 5px;
  display: inline-block;
  min-width: 90px;
}

span.logText {
  padding-left: 5px;
  display: inline-block;
  min-width: 200px;

  .name {
    font-style: italic;
    font-size: 0.9em;
  }
}

span.logAmount {
  display: inline-block;
  min-width: 3em;
}

span.logBal {
  display: inline-block;
  min-width: 5em;

  &.owing {
    color: red;
  }
}
